<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>To do list</title>
</head>
<body>
    <main id="root">
        <div>
            <h1>Todos app</h1>
            <input type="text" name="newTitole" id="newTitole" v-model="newTitole" placeholder="New Task">
            <input type="date" name="newDueDate" id="newDueDate" v-model="newDueDate">
            <button @click="addTask(newTitole, newDueDate); resetInput()">Add task</button>
        </div>
        <div>
            <h3>To do</h3>
            <ul v-for="(task, i) in tasks">
                <li v-if="task.state === 'toDo'">
                    <h4>{{task.titole}}</h4>
                    <p>{{task.dueDate}}</p>
                    <button @click="removeTask(i)">Remove</button>
                    <button @click="changeState(i, 'inProgress')">In Progress</button>
                </li>
            </ul>
        </div>
        <div>
            <h3>In progress</h3>
            <ul v-for="(task, i) in tasks">
                <li v-if="task.state === 'inProgress'">
                    <h4>{{task.titole}}</h4>
                    <p>{{task.dueDate}}</p>
                    <button @click="removeTask(i)">Remove</button>
                    <button @click="changeState(i, 'done')">Done</button>
                </li>
            </ul>
        </div>
        <div>
            <h3>Done</h3>
            <ul v-for="(task, i) in tasks">
                <li v-if="task.state === 'done'">
                    <h4>{{task.titole}}</h4>
                    <p>{{task.dueDate}}</p>
                    <button @click="removeTask(i)">Remove</button>
                </li>
            </ul>
        </div>
    </main>

    <!-- Vue development version -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- /Vue development version -->
    <script src="js/app.js"></script>
</body>
</html>