<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>To do list</title>
</head>
<body>
    <main id="root" class="l-container c-backgroud">
        <h1 class="c-title">Todos app</h1>

        <div class="l-inputs">
            <input type="text" name="newTitole" id="newTitole" class="c-input" v-model="newTitole" placeholder="New Task">
            <input type="date" name="newDueDate" id="newDueDate" class="c-input" v-model="newDueDate">
            <button class="c-btn" @click="addTask(newTitole, newDueDate); resetInput()">Add task</button class="c-btn">
            <button class="c-btn" @click="printDate()">current date</button class="c-btn">
        </div>

        <div class="l-row">
            <div class="l-col">
                <h2 class="c-title">To do</h2>
                <ul class="l-list">
                    <li v-for="(task, i) in tasks" class="c-task c-task--toDo" v-if="task.state === 'toDo'">
                        <h4 class="c-task__titole">{{task.titole}}</h4>
                        <p class="c-task__date" :class="isExpired(task.dueDate)">Due to: {{task.dueDate.toISOString().substr(0, 10)}}</p>
                        <div class="l-row c-task__btns">
                            <button class="c-btn" @click="removeTask(i)">Remove</button class="c-btn">
                            <button class="c-btn" @click="changeState(i, 'inProgress')">In Progress</button class="c-btn">
                        </div>
                    </li>
                </ul>
            </div>

            <div class="l-col">
                <h2 class="c-title">In progress</h2>
                <ul class="l-list">
                    <li v-for="(task, i) in tasks" class="c-task c-task--inProgess" v-if="task.state === 'inProgress'">
                        <h4 class="c-task__titole">{{task.titole}}</h4>
                        <p class="c-task__date" :class="isExpired(task.dueDate)">Due to: {{task.dueDate.toISOString().substr(0, 10)}}</p>
                        <div class="l-row c-task__btns">
                            <button class="c-btn" @click="removeTask(i)">Remove</button class="c-btn">
                            <button class="c-btn" @click="changeState(i, 'done')">Done</button class="c-btn">
                        </div>
                    </li>
                </ul>
            </div>

            <div class="l-col">
                <h2 class="c-title">Done</h2>
                <ul class="l-list">
                    <li v-for="(task, i) in tasks" class="c-task c-task--done" v-if="task.state === 'done'">
                        <h4 class="c-task__titole">{{task.titole}}</h4>
                        <div class="l-row c-task__btns">
                            <button class="c-btn" @click="removeTask(i)">Remove</button class="c-btn">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <!-- Vue development version -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- /Vue development version -->
    <script src="js/app.js"></script>
</body>
</html>